gradeLevel
Sophomore
gradeLevel
Junior
gradeLevel
Senior
isFullTimeStudent
True
isFullTimeStudent
False
gradMonth
05
gradMonth
12
gradYear
2024
gradYear
2025
gradYear
2026
gradYear
2027
gradYear
2028
inGoodStanding
True